<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>抽選アプリ</title>
</head>
<body>
<form method="POST" action="/">
    Task : <input type="text" name="text" value="">
    <input type="submit" value="登録">
</form>

<br>

<ul>
    {{ range .tasks }}
        <li>
            <form method="POST" action="/delete/{{.ID}}">
                {{.ID}} : {{ .Text }} [<a href="/{{.ID}}">編集</a>]
                <input type="submit" value="削除">
            </form>
        </li>
    {{end}}
</ul>

</body>
</html>
