<div class="col-md-offset-4 col-md-4">

    <form class="form-signin" role="form" method="POST" action="./signin" onsubmit="DisableButton();">
        <h2 class="form-signin-heading">ログイン</h2>

        ユーザー名
        <input name="user_name" type="text" class="form-control" placeholder="User Name" required>
        パスワード
        <input name="password" type="password" class="form-control" placeholder="Password" required>

        <br>
        <button id="submitbutton" class="btn btn-lg btn-warning btn-block" type="submit">ログイン</button>
    </form>
</div>
