<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>景品登録</title>
</head>
<body>
<form method="POST" action="/prize">
    ID    : <input type="text" name="id" value="">
    景品名 : <input type="text" name="name" value="">
    <input type="submit" value="登録">
</form>

<form method="POST" action="/csv">
    CSVファイル(1列目：景品名) : <input type="file" name="csv" value="">
    <input type="submit" value="登録">
</form>

<br>

<table border="1">
    <tr>
        <th>景品番号</th>
        <th>景品名</th>
        <th>当選者</th>
        <th>編集</th>
        <th>削除</th>
    </tr>
    {{ range .prizes }}
    <tr>
    <form method="POST" action="/prize/delete/{{.ID}}">
        <td>{{.ID}}</td>
        <td>{{ .Name }}</td>
        <td>{{ .Winner }}</td>
        <td>[<a href="/prize/{{.ID}}">編集</a>]</td>
        <td><input type="submit" value="削除"></td>
    </form>
    </tr>
    {{end}}
</table>

</body>
</html>
