<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>景品登録</title>
</head>
<body>
<form method="POST" action="/prize">
    景品名 : <input type="text" name="name" value="">
    <input type="submit" value="登録">
</form>

<form method="POST" action="/csv">
    CSVファイル(1列目：景品名) : <input type="file" name="csv" value="">
    <input type="submit" value="登録">
</form>

<br>

<ul>
    {{ range .prizes }}
        <li>
            <form method="POST" action="/prize/delete/{{.ID}}">
                {{.ID}} : {{ .Name }} : {{ .Winner }} [<a href="/prize/{{.ID}}">編集</a>]
                <input type="submit" value="削除">
            </form>
        </li>
    {{end}}
</ul>

</body>
</html>
