<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>抽選</title>
</head>

<body>

<li>
<button type="button" name="lottery" value="aaa" onclick="location.href='/winner'">
    <font size="5" color="#333399">あったで賞</font>
</button>
</li>
<li>
<button type="button" name="lottery" value="aaa" onclick="location.href='/winner'">
    <font size="5" color="#333399">KJのヨメで賞</font>
</button>
</li>
<li>
<button type="button" name="lottery" value="aaa" onclick="location.href='/winner'">
    <font size="5" color="#333399">山村賞</font>
</button>
</li>
<li>
<button type="button" name="lottery" value="aaa" onclick="location.href='/winner'">
    <font size="5" color="#333399">古岸賞</font>
</button>
</li>
<li>
<button type="button" name="lottery" value="aaa" onclick="location.href='/winner'">
    <font size="5" color="#333399">41-43位</font>
</button>
</li>
<li>
<button type="button" name="lottery" value="aaa" onclick="location.href='/winner'">
    <font size="5" color="#333399">36-40位</font>
</button>
</li>
<li>
<button type="button" name="lottery" value="aaa" onclick="location.href='/winner'">
    <font size="5" color="#333399">30-35位</font>
</button>
</li>
<li>
<button type="button" name="lottery" value="aaa" onclick="location.href='/winner'">
    <font size="5" color="#333399">15-29位</font>
</button>
</li>
<li>
<button type="button" name="lottery" value="aaa" onclick="location.href='/winner'">
    <font size="5" color="#333399">36-40位</font>
</button>
</li>
<li>
<button type="button" name="lottery" value="aaa" onclick="location.href='/winner'">
    <font size="5" color="#333399">10-14位</font>
</button>
</li>
<li>
<button type="button" name="lottery" value="aaa" onclick="location.href='/winner'">
    <font size="5" color="#333399">9位</font>
</button>
</li>
<li>
<button type="button" name="lottery" value="aaa" onclick="location.href='/winner'">
    <font size="5" color="#333399">8位</font>
</button>
</li>
<li>
<button type="button" name="lottery" value="aaa" onclick="location.href='/winner'">
    <font size="5" color="#333399">7位</font>
</button>
</li>
<li>
<button type="button" name="lottery" value="aaa" onclick="location.href='/winner'">
    <font size="5" color="#333399">6位</font>
</button>
</li>
<li>
<button type="button" name="lottery" value="aaa" onclick="location.href='/winner'">
    <font size="5" color="#333399">5位</font>
</button>
</li>
<li>
<button type="button" name="lottery" value="aaa" onclick="location.href='/winner'">
    <font size="5" color="#333399">4位</font>
</button>
</li>
<li>
<button type="button" name="lottery" value="aaa" onclick="location.href='/winner'">
    <font size="5" color="#333399">3位</font>
</button>
</li>
<li>
<button type="button" name="lottery" value="aaa" onclick="location.href='/winner'">
    <font size="5" color="#333399">2位</font>
</button>
</li>
<li>
<button type="button" name="lottery" value="aaa" onclick="location.href='/winner'">
    <font size="5" color="#333399">1位</font>
</button>
</li>

</body>
</html>
