<!DOCTYPE html>
<html lang="ja">
<head class="page-header">
    <meta charset="UTF-8">
    <title>抽選</title>
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="icon" type="image/png" href="assets/images/candee_icon.png">
</head>

<body>

<header class="page-header wrapper">
<h1><a href="/"><img class="logo" src="assets/images/candee_icon.png" alt="Candee Nigth"></a></h1>
<h1><a href="/">CandeeMorning+Night 大新年会！ 大抽選会！！</a></h1>

<nav>
    <ul class="main-nav">
        <li><a href="/prize">景品一覧</a></li>
        <li><a href="/user">参加者一覧</a></li>
    </ul>
</nav>
</header>

<div class="top-content wrapper">
    <article>
        <h1><a href="/"><img class="logo" src="assets/images/candee_logo.jpg" alt="Candee Nigth"></a></h2>
        <h1 style="color: aqua">Candee <span style="color: pink">Morning</span></h1>
        <h1>+</h1>
        <h1 style="color: yellow">Night</h1>
        <h1>大抽選会！</h1>
    </article>

    <aside>
        <li>
            <a class="button" href="/winner/for">41-43等賞</a>
        </li>
        <li>
            <a class="button" href="/winner/the2">36-40等賞</a>
        </li>
        <li>
            <a class="button" href="/winner/the">30-35等賞</a>
        </li>
        <li>
            <a class="button" href="/winner/twe">15-29等賞</a>
        </li>
        <li>
            <a class="button" href="/winner/multi/ten">10-14等賞</a>
        </li>
        <li>
            <a class="button" href="/winner/aru">あったでしょ</a>
        </li>
        <li>
            <a class="button" href="/winner/one/9">9等賞</a>
        </li>
        <li>
            <a class="button" href="/winner/one/8">8等賞</a>
        </li>
        <li>
            <a class="button" href="/winner/one/7">7等賞</a>
        </li>
        <li>
            <a class="button" href="/winner/one/6">6等賞</a>
        </li>
        <li>
            <a class="button" href="/winner/one/5">5等賞</a>
        </li>
        <li>
            <a class="button" href="/winner/one/4">4等賞</a>
        </li>
        <li>
            <a class="button" href="/winner/one/3">3等賞</a>
        </li>
        <li>
            <a class="button" href="/winner/one/2">2等賞</a>
        </li>
        <li>
            <a class="button" href="/winner/one/1">1等賞</a>
        </li>
    </aside>
</div>

<div class="next">
    <li>
        <a class="button" href="/next">comming soon..</a>
    </li>
</div>

</body>
</html>
