<!DOCTYPE html>
<html lang="ja">
<head class="page-header">
    <meta charset="UTF-8">
    <title>抽選</title>
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="icon" type="image/png" href="assets/images/candee_icon.png">
</head>

<body>

<header class="page-header wrapper">
<h1><a href="/"><img class="logo" src="assets/images/candee_icon.png" alt="Candee Nigth"></a></h1>
<h1><a href="/">CandeeMorning+Night 大新年会！ 大抽選会！！</a></h1>

<nav>
    <ul class="main-nav">
        <li><a href="/prize">景品一覧</a></li>
        <li><a href="/user">参加者一覧</a></li>
    </ul>
</nav>
</header>

<div class="home-content wrapper">
    <!-- <li>
        <a class="button" href="/winner/one/50">KJのヨメで賞</a>
    </li> -->
    <li>
        <a class="button" href="/winner/one/44">古岸賞</a>
    </li>
    <li>
        <a class="button" href="/winner/one/45">山村賞</a>
    </li>
</div>

</body>
</html>
