<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>参加者編集</title>
</head>
<body>

<table border="1">
    <tr>
        <th>参加者氏名</th>
        <!-- <th>部署名</th> -->
        <th>当選済</th>
        <th>更新</th>
    </tr>

    <tr>
    <form action="/prize/update/{{.prize.ID}}" method="POST">
        <td><input type="text" name="name" value="{{.user.Name}}"></td>
        <td><input type="text" name="win" value="{{.user.Win}}"></td>
        <td><input type="submit" value="更新"></td>
    </form>
    </tr>
</table>

</body>
</html>
