<!DOCTYPE html>
<html lang="ja">
<head class="page-header">
    <meta charset="UTF-8">
    <title>参加者編集</title>
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="icon" type="image/png" href="../assets/images/candee_icon.png">
</head>

<body>

<header class="page-header wrapper">
<h1><a href="/"><img class="logo" src="../assets/images/candee_icon.png" alt="Candee Nigth"></a></h1>
<h1><a href="/">CandeeMorning+Night 大新年会！ 大抽選会！！</a></h1>

<nav>
    <ul class="main-nav">
        <li><a href="/prize">景品一覧</a></li>
        <li><a href="/user">参加者一覧</a></li>
    </ul>
</nav>
</header>

<table border="1">
    <tr>
        <th>参加者氏名</th>
        <!-- <th>部署名</th> -->
        <th>当選済</th>
        <th>更新</th>
    </tr>

    <tr>
    <form action="/user/update/{{.user.ID}}" method="POST">
        <td><input type="text" name="name" value="{{.user.Name}}"></td>
        <td><input type="text" name="win" value="{{.user.Win}}"></td>
        <td><input type="submit" value="更新"></td>
    </form>
    </tr>
</table>

</body>
</html>
