<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>参加者登録</title>
</head>
<body>
<form method="POST" action="/user">
    Name : <input type="text" name="name" value="">
    Department : <input type="text" name="department" value="">
    <input type="submit" value="登録">
</form>

<form method="POST" action="/csv">
    CSVファイル(1列目：氏名、2列目：部署名) : <input type="file" name="csv" value="">
    <input type="submit" value="登録">
</form>

<br>

<table border="1">
    <tr>
        <th>参加者番号</th>
        <th>氏名</th>
        <th>部署</th>
        <th>当選済</th>
        <th>編集</th>
        <th>削除</th>
    </tr>
    {{ range .users }}
    <tr>
    <form method="POST" action="/prize/delete/{{.ID}}">
        <td>{{.ID}}</td>
        <td>{{ .Name }}</td>
        <td>{{ .Department }}</td>
        <td>{{ .Win }}</td>
        <td>[<a href="/user/{{.ID}}">編集</a>]</td>
        <td><input type="submit" value="削除"></td>
    </form>
    </tr>
    {{end}}
</table>

</body>
</html>
